.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px;
    gap: 48px;
}

.btn-pagination {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}